<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/auth.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="main-content">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form class="form" th:action="@{/login}" method="post">
        <div class="flex-column">
            <label>Username </label>
        </div>
        <div class="inputForm">
            <!-- icon -->
            <input name="username" placeholder="Enter your Username" class="input" type="text">
        </div>

        <div class="flex-column">
            <label>Password </label>
        </div>
        <div class="inputForm">
            <!-- icon -->
            <input name="password" placeholder="Enter your Password" class="input" type="password">
        </div>

        <div class="flex-row">
            <div>
                <input type="checkbox" id="rememberMe" name="remember-me">
                <label for="rememberMe">Remember me</label>
            </div>
        </div>
        <button class="button-submit" type="submit">Sign In</button>
    </form>
</div>
</body>

</html>