<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{page_layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:href="@{/css/error.css}" rel="stylesheet">
</head>
<body>
<!-- From Uiverse.io by Cksunandh -->
<div class="tv-container">
    <div class="tv-screen">
        <div class="static"></div>
        <div class="error-text">ERROR</div>
    </div>
    <div class="tv-stand"></div>
</div>

</body>
</html>